.clock {
  font-size: 45px;
}

@media (max-width: 700px) {
  .clock {
    font-size: 35px;
  }
}

.weblink {
  margin-top: 20px;
  color: #848383;
  font-size: 10px;
}

@media (max-width: 400px) {
  .clock {
    font-size: 25px;
    padding: 20px;
  }
}
