.container {
  width: 100vw;
  height: 50vh;
  text-align: center;
  display: grid;
  gap: 10px;
  place-content: center;
  justify-items: center;
}

.help {
  font-size: 25px;
  position: absolute;
  top: 2%;
  right: 20px;
  cursor: pointer;
}

.input-btn-container {
  width: 50vw;
  padding: 40px;
  display: grid;
  align-content: center;
  justify-items: center;
}

.timeLeft {
  padding: 5px;
}

.pulse-effect {
  color: red;
}
button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  width: 100%;
  cursor: pointer;
  background-color: grey;
  color: #fff;
}

.pulse-effect {
  animation: pulse 1s linear;
}

input {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background: lightgray;
}

.redFlash {
  color: red;
  animation: pulse 1s linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale();
  }
}

@media (min-width: 701px) {
  input {
    margin-bottom: 10px;
  }

  .timeLeft {
    font-size: 200px;
  }

  .pulse-effect {
    font-size: 150px;
  }
}

@media (max-width: 700px) {
  .input-btn-container {
    width: 100vw;
    padding: 40px;
    display: grid;
    align-content: center;
    justify-items: center;
  }

  input {
    margin-bottom: 5px;
  }
  button {
    width: 100%;
  }

  .timeLeft {
    font-size: 100px;
  }

  .pulse-effect {
    font-size: 45px;
  }
}

@media (max-width: 400px) {
  .timeLeft {
    font-size: 80px;
  }

  .pulse-effect {
    font-size: 35px;
  }
}
